<div class="cover{{#if @site.cover_image}} image-loading{{/if}}{{#match @custom.publication_cover_style "Half screen"}} half{{/match}} gh-outer">

    <div class="cover-image insert-frame u-object-fit" style="background: #181828"></div>

    <button class="button-icon cover-arrow">
        {{> "icons/caret-down"}}
    </button>

</div>